/*BUILDER WRAPPER*/
.c-builder {
  width: 100%;
  height: auto;
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
}

/*RESET*/
.c-builder button {
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
}

.c-builder button:active,
.c-builder button:focus {
  outline: none;
}
.c-builder input,
.c-builder textarea,
.c-builder select,
.c-builder button {
  -moz-appearance: none;
  -webkit-appearance: none;
}


picture, section, article, time {
  display: block;
}


img {
  border: none;
}

.c-builder h1,
.c-builder .h1,
.c-builder h2,
.c-builder .h2,
.c-builder h3,
.c-builder .h3,
.c-builder p {
  margin: 0;
}
