.nav.customtab.nav-tabs {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

.c-builder__header {
  position: sticky;
  top: 42px;
  border-top: 1px solid #B5BAB6;
  background-color: #fff;
  z-index: 22222222222;
}
